* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

#keyboard {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#keyboard > * {
  margin: auto;
}

#note {
  font-size: 4rem;
}

.key {
  fill: white;
  stroke: black;
}

.key:hover {
  fill: lightgrey;
}

.black {
  fill: black;
}

#solfege-box {
  display: flex;
  justify-content: space-between;
}

.syllable {
  display: flex;
  width: 100px;
  height: 100px;
  max-width: 12.5;
  border: 1px solid black;
  border-radius: 10%;
}

.syllable > h2 {
  margin: auto;
  font-size: 2rem;
}



#do {
  background-color: rgb(231, 120, 120);
}

#re {
  background-color: rgb(211, 174, 106);
}

#mi {
  background-color: rgb(233, 233, 142);
}

#fa {
  background-color: rgb(125, 224, 125);
}

#sol {
  background-color: rgb(151, 151, 231);
}

#la {
  background-color: rgb(197, 144, 235);
}

#ti {
  background-color: rgb(240, 152, 240);
}

#do2 {
  background-color: rgb(231, 120, 120);
}

@media screen and (max-width: 800px) {
  html {
    font-size: 12px;
  }

  .syllable {
    display: flex;
    flex-direction: column;
  }
}