* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#keyboard {
  margin: 0 auto;
}

.key {
  fill: white;
  stroke: black;
}

.key:hover {
  fill: lightgrey;
}

.black {
  fill: black;
}

#solfege-box {
  display: flex;
  justify-content: space-between;
}

.syllable {
  display: flex;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 10%;
}

.syllable > * {
  justify-content: center;
}