* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#keyboard {
  display: flex;
  flex-direction: column;
}

#keyboard > * {
  margin: auto;
}

#note {
  font-size: 4rem;
}

.key {
  fill: white;
  stroke: black;
}

.key:hover {
  fill: lightgrey;
}

.black {
  fill: black;
}

#solfege-box {
  display: flex;
  justify-content: space-between;
}

.syllable {
  display: flex;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 10%;
}

.syllable > h2 {
  margin: auto;
  font-size: 2rem;
}

#do {
  background-color: red;
}

#re {
  background-color: orange;
}

#mi {
  background-color: yellow;
}

#fa {
  background-color: green;
}

#sol {
  background-color: blue;
}

#la {
  background-color: indigo;
}

#ti {
  background-color: violet;
}

#do2 {
  background-color: yellow;
}