* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: 'Gluten', cursive;
  font-weight: 300;
}

#main-container {
  display: flex;
  height: 100%;
}

#keyboard {
  display: flex;
  flex-direction: column;
  width: 70%;
}

#keyboard > * {
  margin: auto;
}

#note {
  font-size: 4rem;
}

.key {
  fill: white;
  stroke: black;
}

.key:hover {
  fill: lightgrey;
}

.black {
  fill: black;
}

.default {
  fill: lightgrey;
}

#solfege-box {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.syllable {
  display: flex;
  height: 12.5%;
  border: 1px solid black;
  border-radius: 10%;
  cursor: pointer;
}

.syllable:hover {
  opacity: .5;
}

.syllable > h2 {
  margin: auto;
  font-size: 2rem;
}

#do {
  background-color: rgb(231, 120, 120);
}

#re {
  background-color: rgb(211, 174, 106);
}

#mi, #me {
  background-color: rgb(233, 233, 142);
}

#fa {
  background-color: rgb(125, 224, 125);
}

#sol {
  background-color: rgb(151, 151, 231);
}

#la, #le {
  background-color: rgb(197, 144, 235);
}

#ti, #ta {
  background-color: rgb(240, 152, 240);
}

#do2 {
  background-color: rgb(231, 120, 120);
}

@media screen and (max-width: 800px) {
  html {
    font-size: 12px;
  }

  .syllable {
    display: flex;
    flex-direction: column;
  }
}

@media (orientation: landscape) {
  body {
    height: 100%;
  }
}